<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechMatch - Criar Vaga</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/registro.css') }}">
</head>
<body>

    <div class="caixa-formulario">
        <h1>Nova Vaga</h1>
        <p class="subtitulo">Cadastre os requisitos da oportunidade</p>

        <form id="form-vaga" action="/dashboard" method="GET">
            
            <div class="grupo-campo">
                <label for="cargo-vaga">Título do Cargo</label>
                <input type="text" id="cargo-vaga" placeholder="Ex: Dev Back-end Estagiário" required>
            </div>

            <div class="grupo-campo">
                <label for="tech-input">Adicionar Tecnologias</label>
                <div class="tags-input-wrapper" style="display: flex; gap: 10px;">
                    <input type="text" id="tech-input" placeholder="Ex: Python">
                    <button type="button" id="add-tag" class="botao-azul" style="margin-top:0; width: auto; padding: 0 15px;">+</button>
                </div>
                
                <div id="tags-container" style="display: flex; flex-wrap: wrap; gap: 8px; margin-top: 10px;"></div>
                
                <input type="hidden" id="tecnologias_vaga" name="tecnologias">
            </div>

            <button type="submit" class="botao-azul">Publicar Vaga</button>
            <a href="/dashboard" class="botao-cinza" style="display: block; text-align: center; text-decoration: none; margin-top: 10px; padding: 12px; background: #334155; color: white; border-radius: 8px; font-weight: bold;">Voltar ao Painel</a>
        </form>
    </div>

    <script src="/static/js/registro.js"></script>
</body>
</html>